.page-wrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
}
.page-title {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  transition: all 0.4s ease-in-out;
}
/* CARD 1 */
.card-wrapper1 {
  width: 240px;
  height: auto;
  border-radius: 18px 6px 6px 6px;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  margin: 3rem 0;
  transition: all 0.2s ease-in-out;
  border: 2px solid #f9b100;
}
.card-wrapper1-nothover {
  width: 240px;
  height: 300px;
  border-radius: 18px 6px 6px 6px;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  margin: 3rem 0;
  transition: all 0.2s ease-in-out;
  border: 2px solid #f9b100;
}
.card-wrapper1:hover {
  background-color: #fffbec;
  transform: translate(0, -10px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}
.position-label1 {
  height: 32px;
  width: 32px;
  line-height: 32px !important;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  font-weight: bold !important;
  font-size: 1.1rem !important;
  color: white;
  background-color: #f9c84e;
}
.crown-wrapper {
  width: 100px !important;
  height: auto !important;
  margin: 0 auto;
  border-radius: 0% !important;
  position: absolute !important;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trophy-wrapper1 {
  width: 100px !important;
  height: auto !important;
  margin: 40px auto 5px;
}
.team-name1 {
  text-align: center;
  font-weight: 600 !important;
  font-size: 1.1rem !important;
  color: #f9b100;
}
.detail-container1 {
  padding: 0 40px;
  margin: 0.8rem 0 2.5rem;
}
.detail-wrapper1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.detail-label1 {
  line-height: 24px !important;
  position: relative;
  z-index: 1;
  font-weight: 600 !important;
  font-size: 0.8rem !important;
  color: black;
}
.detail-value1 {
  line-height: 24px !important;
  position: relative;
  z-index: 1;
  font-weight: 600 !important;
  font-size: 0.8rem !important;
  color: #f9b100;
}
.point-label1 {
  position: absolute;
  display: inline;
  padding: 2px 7px;
  border-radius: 20px;
  top: 100%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #d39700;
  background-color: #fff0aa;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  font-size: 0.6rem !important;
  font-weight: 600 !important;
}
.point-value1 {
  height: 45px;
  width: 85px;
  text-align: center;
  display: inline;
  border-radius: 30px;
  background-color: #f9b100;
  color: white;
  position: absolute;
  top: 100%;
  left: 59%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  line-height: 45px !important;
  font-size: 1.7rem !important;
  font-weight: 600 !important;
}
/* CARD 2 */
.card-wrapper2 {
  width: 210px;
  height: auto;
  border-radius: 18px 6px 6px 6px;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  margin: 3rem 0;
  transition: all 0.2s ease-in-out;
  border: 1px solid #459dcc;
}
.card-wrapper2-nothover {
  width: 210px;
  height: 270px;
  border-radius: 18px 6px 6px 6px;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  margin: 3rem 0;
  transition: all 0.2s ease-in-out;
  border: 1px solid #459dcc;
}
.card-wrapper2:hover {
  background-color: #f0f9ff;
  transform: translate(-5px, -5px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}
.position-label2 {
  height: 32px;
  width: 32px;
  line-height: 32px !important;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  font-weight: bold !important;
  font-size: 1rem !important;
  color: white;
  background-color: #427d9d;
}
.trophy-wrapper2 {
  width: 100px !important;
  height: auto !important;
  margin: 35px auto 0;
}
.team-name2 {
  text-align: center;
  font-weight: 600 !important;
  font-size: 1.1rem !important;
  color: #427d9d;
}
.detail-container2 {
  padding: 0 30px;
  margin: 0.4rem 0 1.5rem;
}
.detail-wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.detail-label2 {
  line-height: 24px !important;
  position: relative;
  z-index: 1;
  font-weight: 600 !important;
  font-size: 0.7rem !important;
  color: black;
}
.detail-value2 {
  line-height: 24px !important;
  position: relative;
  z-index: 1;
  font-weight: 600 !important;
  font-size: 0.7rem !important;
  color: #427d9d;
}
.point-label2 {
  position: absolute;
  display: inline;
  padding: 2px 6px;
  border-radius: 20px;
  top: 100%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #459dcc;
  background-color: #d1eeff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  font-size: 0.6rem !important;
  font-weight: 600 !important;
}
.point-value2 {
  height: 40px;
  width: 75px;
  text-align: center;
  display: inline;
  border-radius: 30px;
  background-color: #427d9d;
  color: white;
  position: absolute;
  top: 100%;
  left: 59%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  line-height: 40px !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}
/* CARD 3 */
.card-wrapper3 {
  width: 210px;
  height: auto;
  border-radius: 6px 18px 6px 6px;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  margin: 3rem 0;
  transition: all 0.2s ease-in-out;
  border: 1px solid #f6945a;
}
.card-wrapper3-nothover {
  width: 210px;
  height: 270px;
  border-radius: 6px 18px 6px 6px;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  margin: 3rem 0;
  transition: all 0.2s ease-in-out;
  border: 1px solid #f6945a;
}
.card-wrapper3:hover {
  background-color: #fff6ee;
  transform: translate(5px, -5px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}
.position-label3 {
  height: 32px;
  width: 32px;
  line-height: 32px !important;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  font-weight: bold !important;
  font-size: 1rem !important;
  color: white;
  background-color: #f6945a;
}
.trophy-wrapper3 {
  width: 100px !important;
  height: auto !important;
  margin: 35px auto 0;
}
.team-name3 {
  text-align: center;
  font-weight: 600 !important;
  font-size: 1.1rem !important;
  color: #f6945a;
}
.detail-container3 {
  padding: 0 30px;
  margin: 0.4rem 0 1.5rem;
}
.detail-wrapper3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.detail-label3 {
  line-height: 24px !important;
  position: relative;
  z-index: 1;
  font-weight: 600 !important;
  font-size: 0.7rem !important;
  color: black;
}
.detail-value3 {
  line-height: 24px !important;
  position: relative;
  z-index: 1;
  font-weight: 600 !important;
  font-size: 0.7rem !important;
  color: #f6945a;
}
.point-label3 {
  position: absolute;
  display: inline;
  padding: 2px 6px;
  border-radius: 20px;
  top: 100%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #d96c2c;
  background-color: #ffe0cd;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  font-size: 0.6rem !important;
  font-weight: 600 !important;
}
.point-value3 {
  height: 40px;
  width: 75px;
  text-align: center;
  display: inline;
  border-radius: 30px;
  background-color: #f6945a;
  color: white;
  position: absolute;
  top: 100%;
  left: 59%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  line-height: 40px !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}
/* TABLE */
.table-header-cell {
  background-color: transparent !important;
  color: white !important;
  font-weight: 500;
  text-transform: uppercase;
  border-right: 1px solid rgba(224, 224, 224, 1);
  border-collapse: collapse;
}
.noitem-container {
  text-align: center;
  color: gray;
  padding: 20px 0;
}
.noitem-wrapper {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.position-cell {
  font-weight: bold !important;
  font-size: 1.4rem !important;
  height: 50px;
  position: relative !important;
}
.position-indicator {
  position: absolute;
  height: 80%;
  width: 4px;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  border-radius: 3px;
}
.position-value {
  font-weight: bold !important;
  font-size: 1.4rem !important;
}
.teamname-cell {
  font-weight: bold !important;
}
.point-cell {
  font-weight: bold !important;
}
.last5-container {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.last5-tooltip-container {
  cursor: 'pointer';
}
.last5-tooltip-container:hover :first-child {
  opacity: 1 !important;
  visibility: visible !important;
}
.last5-tooltip-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  width: 150px;
  height: 78px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  z-index: 1002;
  transform: translate(-114px, -80px);
  transition: all 0.1s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.last5-tooltip-date {
  font-size: 0.65rem !important;
  line-height: 1rem !important;
  color: white;
  font-weight: 500 !important;
  background: linear-gradient(135deg, #0e1e5b 0%, #3562a6 100%);
  padding: 2px;
}
.last5-tooltip-date-padding {
  width: 100%;
  height: 2px;
  background: white
    radial-gradient(90% 20px at 50% 0, rgba(25, 25, 25, 1) 0, rgba(25, 25, 25, 0.5) 25%, rgba(25, 25, 25, 0) 50%);
}
.last5-tooltip-score-container {
  background-color: white;
  padding: 6px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.last5-tooltip-score-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
}
.last5-tooltip-score-teamname {
  margin-right: auto;
  font-size: 0.8rem !important;
}
.last5-tooltip-score-value {
  font-size: 0.8rem !important;
}
.last5-tooltip-score-arrow {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid black;
}
.last5-tooltip-tail-wrapper {
  width: 100%;
  height: 12px;
  position: absolute;
  top: 100%;
  left: 0;
}
.last5-tooltip-tail {
  height: 10px;
  width: 10px;
  position: absolute;
  top: -5px;
  right: 8px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(45deg);
}
.last5-item {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last5-item-text {
  line-height: 24px !important;
  color: white;
  font-size: 12px !important;
  user-select: none;
  font-weight: bold !important;
}
