.main-app-header {
  border-radius: 0.5rem;
  top: 0;
  z-index: 999;
  box-shadow: none !important;
  background-color: #f0f2f5ad !important;
  backdrop-filter: saturate(200%) blur(1rem);
}

.menu-title {
  flex-grow: 1;
}

.menu-list-item {
  display: flex;
  gap: 1rem;
}

.menu-info-item {
  width: 250px;
  font-weight: bold !important;
  opacity: 1 !important;
}

.menu-divider {
  margin: 0.5rem 0;
}

.toolbar {
  justify-content: space-between;
  display: flex;
  text-align: center;
  border-radius: 10px;
  color: rgb(52, 71, 103);
}

.title {
  display: flex;
  text-align: center;
}

.typography-header {
  margin-bottom: 0 !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  font-family: 'Poppins', sans-serif !important;
}
