@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600;1,800&family=Space+Grotesk:wght@700&display=swap');
html,
body,
#root,
h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  background-color: rgb(240, 242, 245);
}

.MuiDataGrid-root .MuiDataGrid-columnHeader,
.MuiDataGrid-root .MuiDataGrid-cell {
  outline: none !important;
}

::-ms-reveal {
  display: none;
}
